# Ignore all binaries in root
*
!*.*
!*/
!googletest
!strtk

# Ignore all test binaries
unit_tests/*
!unit_tests/*.*
!unit_tests/*/

# Ignore tar files
*.tar
*.tar.gz

# Ignore private keys
*.pem

# gcc object files
*.o
*.a

# gcov files
*.gcda
*.gcno
*.gcov

# Mac things
.DS_Store
